*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 50%;
    height: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffbd87;
    border: 1px solid rgb(209, 207, 100);
 
}
h1{
    text-shadow: 2px 2px 2px pink;
}
body{
    margin: 0;
    padding: 0;
    height: 100vw;
    width: 100vw;
    background-color: #f7e8a6;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding-left: 20px;
    font-size: 16px
}
/*-00-Formatação do container-00-*/
.text{
    padding-left: 20px;
    padding-right: 40px;
    font-size: 16px;
}
.container{
    margin-top: 30px;
    height: 560px;
    width: 900px;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    border: outset 6px rgb(255, 143, 102);
}
/*Formatação de navegação*/

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    background-color: rgba(250, 160, 57, 0.822);
    width: 30px;
    height: 5px;
    margin: 6px;
    transition: .3s;
}
.bar:hover{
    background-color: rgb(177, 84, 9);
}
input{
    display: none;
}
.imagens{
    display: flex;
    width: 600%;
    height: 100%;
}
.imagem{
    width: 16.6666666667%; /*100 que é o tamanho do container dividido pela quantidade de imagens que é 6*/
    transition: .3s;
}
.imagem img{
    width: 100%;
    height: 100%;
}
/* Transição das imagens */
#imagem1:checked ~ .img1{
    margin-left: 0;
}
#imagem2:checked ~ .img1{
    margin-left: -16.6666666667%;
}
#imagem3:checked ~ .img1{
    margin-left: -33.3333333334%;
}
#imagem4:checked ~ .img1{
    margin-left: -50.0000000001%;
}
#imagem5:checked ~ .img1{
    margin-left: -66.6666666668%;
}
#imagem6:checked ~ .img1{
    margin-left: -83.3333333335%;
}
